.item {
    position: relative;
    margin: 15px;
    border-left: 3px dashed antiquewhite;
    padding: 10px 40px;
	top:120px;
}

.navbar {
    z-index:10;
    width:100%;
	}

.navbar-brand{
  position:relative;
  top:-8px;
}
b
{
font-size:15px;
}
#name
{
font-size:20px;
}
.main-text
{   
    
    position:relative;
    top: 40px;
    width: 96.66666666666666%;
    color: black;
}
h3
{
font-size:30px;
font-family:times new roman;
}
#bbb
{

font-size:25px;
font-family:times new roman;
text-decoration:underline;

}
.table
{
    position:relative;
    border: 2px solid white ;
    width: 70%;
    margin: 0px auto;
    float: none;
	top:130px;
	background-color:#374966;
}
.table th{
    border: white solid 2px !important;
	text-align:justify;
    color:white;
	font-size:20px;
	font-weight:bold;
}
.table td{

    border: white solid 2px !important;
	text-align:justify;
    color:white;
	font-size:15px;
	font-weight:bold;

}
#hov:hover
{
background-color:#4286f4;
    -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
}
#hov1:hover
{
background-color:#4286f4;
    -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
      transform: scale(1.1);
  box-shadow: 10px 15px 7px #C7C7C7;
}
#host
{
font-size:20px;
font-weight:bold;
font-family:times new roman;
}